<!DOCTYPE html>
<html lang="en">
{{> header}}
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
</head>
<body>
    <h1>{{post.title}}</h1>
    <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
    <p>{{post.content}}</p>
    <h2>Comments</h2>
    {{#each post.comments as |comment|}}
    <div class="comment">
        <p>{{comment.comment_text}}</p>
        <p>Posted by {{comment.user.username}} on {{comment.createdAt}}</p>
    </div>
    {{/each}}
    {{#if logged_in}}
    <form action="/comments" method="POST">
        <input type="hidden" name="post_id" value="{{post.id}}">
        <label for="comment_text">Leave a comment:</label><br>
        <textarea id="comment_text" name="comment_text" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
    {{/if}}
</body>
{{> footer}}
</html>
